<div>
  <div class="add-form">
    <h4>Flight Form</h4>
    <form>
      <div class="form-group">
        <label for="from">From Destination</label>
        <input
      type="text"
      class="form-control"
      id="from"
      [(ngModel)]="newFlight.from"
      name="from"
    />
      </div>
      <div class="form-group">
        <label for="to">To Destination</label>
        <input
      type="text"
      class="form-control"
      id="to"
      [(ngModel)]="newFlight.to"
      name="to"
    />
      </div>
      <div class="form-group">
        <label for="departureDate">Departure Date</label>
        <input
      type="date"
      class="form-control"
      id="departureDate"
      [(ngModel)]="newFlight.departureDate"
      name="departureDate"
    />
      </div>
      <div class="form-group">
        <label for="arrivalDate">Arrival Date</label>
        <input
    type="date"
    class="form-control"
    id="arrivalDate"
    [(ngModel)]="newFlight.arrivalDate"
    name="arrivalDate"
  />
      </div>
    </form>

    <button
  type="submit"
  class="badge badge-success mb-2"
  (click)="addFlight()"
>
  Create
</button>
    <p>{{ message }}</p>
  </div>
</div>