<div>
  <div *ngIf="currentTrip.id" class="edit-form">
    <h4>Trip Details</h4>
    <form>
      <div class="form-group">
        <label for="reason">Reason</label>
        <select name="selectedReason" id="reason" [(ngModel)]="currentTrip.reason" class="form-control">
          <option *ngFor="let reason of reasons" [value]="reason" >{{reason}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTrip.description"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="from">From Destination</label>
        <input
          type="text"
          class="form-control"
          id="from"
          [(ngModel)]="currentTrip.from"
          name="from"
        />
      </div>
      <div class="form-group">
        <label for="to">To Destination</label>
        <input
          type="text"
          class="form-control"
          id="to"
          [(ngModel)]="currentTrip.to"
          name="to"
        />
      </div>
      <div class="form-group">
        <label for="departureDate">Departure Date</label>
        <input
          type="date"
          class="form-control"
          id="departureDate"
          [(ngModel)]="currentTrip.departureDate"
          name="departureDate"
        />
      </div>
      <div class="form-group">
        <label for="arrivalDate">Arrival Date</label>
        <input
        type="date"
        class="form-control"
        id="arrivalDate"
        [(ngModel)]="currentTrip.arrivalDate"
        name="arrivalDate"
      />
      </div>
      <div *ngIf="isAdmin" class="form-group">
        <label for="status">Status</label>
        <select name="selectedStatus" id="status" [(ngModel)]="currentTrip.status" class="form-control">
          <option *ngFor="let status of statuses" [value]="status" >{{status}}</option>
        </select>
      </div>
      <div *ngIf="!isAdmin" class="form-group">
        <button *ngIf="currentTrip.status === 'CREATED'" class="badge badge-primary mr-2" (click)="requestApproval()">
          Request Approval
        </button>
        <button *ngIf="currentTrip.status === 'APPROVED'" class="badge badge-primary mr-2" routerLink="/trips/{{currentTrip.id}}/add_flight">
          Add Flight
        </button>
        <button *ngIf="currentTrip.status === 'PENDING'" class="badge badge-primary mr-2">
          Already Requested
        </button>
      </div>

    </form>
    <div class="buttons">
      <button class="badge badge-danger mr-2" (click)="deleteTrip()">
        Delete
      </button>

      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateTrip()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>

    <div *ngIf="currentTrip.flights.length != 0 || currentTrip.status == 'APPROVED'" class="list-flights">
      <h6>List Of Flights</h6>
      <table border="1">
        <tr>
          <th>ID</th>
          <th>From</th>
          <th>To</th>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Edit</th>
        </tr>
        <tr *ngFor="let flight of currentTrip.flights">
          <td>{{flight.id}}</td>
          <td>{{flight.from}}</td>
          <td>{{flight.to}}</td>
          <td>{{flight.departureDate}}</td>
          <td>{{flight.arrivalDate}}</td>
          <td *ngIf="isAdmin"><button class="badge badge-warning" routerLink="/flights/{{ flight.id }}">Edit</button>
          <td *ngIf="!isAdmin">
            <button class="badge badge-warning" routerLink="/trips/{{currentTrip.id}}//flights/{{ flight.id }}">Edit</button>
          </td>
        <tr *ngIf="currentTrip.status == 'APPROVED'">
          <td colspan="6" class="text-center">
            <button class="badge badge-success">ADD FLIGHT</button>
          </td>
        </tr>
      </table>
    </div>

  </div>

  <div *ngIf="!currentTrip.id">
    <br />
    <p>Cannot access this trip...</p>
  </div>
</div>